.bg-image
{
  background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
  height:80vh;
  width:60vw;
}
h1
{
    position:absolute;
    bottom: 0;
    right:15px;
}
h5
{
  font-size: 50px;
}
h6
{
    font-size:30px;
  color:black;
}
